#          Custom Widgets For PyQt5 Module           #
#          GPL 3.0 - myygunduz - pyqtCuWi            #
#        https://github.com/myygunduz/pyqtCuWi       #

PyQt5>=5.15.4
pyqt5-plugins>=5.15.4.2.2
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.9.0
pyqt5-tools>=5.15.4.3.2
pyqt5Custom>=1.0.1